# Enable rewrite engine
RewriteEngine On

# Redirect all requests to index.php except for existing files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Disable directory listing
Options -Indexes

# Set default charset
AddDefaultCharset UTF-8
